* a{
    color: #000;
}
.contact-info i {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: black;
}
.contact-info p {
    margin: 0;
}
.form-control {
    background-color: #f5f6f7;
    border: none;
    padding: 15px;
}
.btn-black {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
}
.btn-black:hover {
    background-color: #333;
}
.social-icons a {
    color: black;
    margin: 0 5px;
    font-size: 1.2rem;
}
.call i{
    font-size: 0.75rem;
    color:green;
}
main form{
width: 60%;
margin-left: 20%;
}
.map {
    width: 100%;
    height: 400px;
    margin: 9% 0;
}
.store-card img {
    border-radius: 8px;
    width: 100%;
    height: auto;
}