* a{
    color: #000;
}
.Home span{
    color: #747070c3;
   margin: 1% 1%;
}
.Home p{
 text-decoration: line-through;
}
.sidebar {
    width: 200px;
    border-right: 1px solid #eee;
    border-radius: 8px;
    background: #fff;
}

.sidebar h3 {
    font-size: 18px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.color-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.color-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
}
.count{
    margin-left:50% ;
}
.color-box {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 8px;
    border-radius: 2px;
}

.count {
    color: #888;
    font-size: 12px;
}
.search-brand {
    position: relative;
    width: 100%;
  }
  
  .search-brand input {
    width: 100%;
    padding-right: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .search-brand button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #666;
  }
  .rul{
    overflow-y: auto;
    height: 300px;
    padding: 10px;
 }
 .main-right{
 margin: 6% 2% 2% 5%;
 }
.card-shop{
    width: 25%;
    height: 300px;
   border: #66666656 1px solid;
}
.card-shop img{
    width: 100%;
    object-fit: cover;
}
.card-shop p{
    margin-bottom: 8%;
}
